<div class="container-fluid-5">
    <div class="container">
        <div class="con">
            <h5>Follow the washing steps</h5>
            <h2>WASH YOUR HANDS MIN 20 <br> SECOND</h2>
            <p>The best way to prevent the spread of infections is to:</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="mr-2">
                    <div class="cirlce">1</div>
                    <div class="img"><img src="assets/11.png" alt=""></div>
                    <h4>Wet hands with warm water</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2">
                    <div class="cirlce">2</div>
                    <div class="img"><img src="assets/22.png" alt=""></div>
                    <h4>Apply soap</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2">
                    <div class="cirlce">3</div>
                    <div class="img"><img src="assets/33.png" alt=""></div>
                    <h4>20 seconds, make sure to wash:</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2">
                    <div class="cirlce">4</div>
                    <div class="img"><img src="assets/44.png" alt=""></div>
                    <h4>Rinse well</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="mr-2">
                    <div class="cirlce">5</div>
                    <div class="img"><img src="assets/55.png" alt=""></div>
                    <h4>Dry hands well with paper towel</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2">
                    <div class="cirlce">6</div>
                    <div class="img"><img src="assets/66.png" alt=""></div>
                    <h4>Turn off tap using paper towel</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2">
                    <div class="cirlce">7</div>
                    <div class="img"><img src="assets/77.png" alt=""></div>
                    <h4>palm and back of each hand</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2">
                    <div class="cirlce">8</div>
                    <div class="img"><img src="assets/88.png" alt=""></div>
                    <h4>between fingers</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="mr-2 jj">
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2">
                    <div class="cirlce">9</div>
                    <div class="img"><img src="assets/99.png" alt=""></div>
                    <h4>under nails</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2">
                    <div class="cirlce">10</div>
                    <div class="img"><img src="assets/10.png" alt=""></div>
                    <h4>thumbs</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="mr-2 jj">
                    
                </div>
            </div>
        </div>
    </div>
</div>