.container-fluid-5{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 100px
}
.con h5{
    color: #121158;
    font-size: 15px;
    font-weight: 600;
}
.con h2{
    color: #121158;
    font-size: 35px;
    font-weight: 600;
}
.con p{
    color:#515184 ;
}
.con{
    padding-bottom: 55px;
}
.row{
    margin-bottom: 30px;
}
.mr-2:not(.jj){
    background-color: #F8F9FE;
    border-radius: 5px;
    padding: 13px;
    position: relative;
}
.img{
    background: #242674;
    display: inline-block;
    border: 5px solid #fff;
    border-radius: 100px;
    margin-bottom: 10px;
    height: 125px;
    width: 125px;
}
.img img{
width: 100%;
}
.cirlce{
    background-color: #3639AE;
    color: #fff;
    border: 2px solid #3639AE;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 15px;
}
.mr-2 h4 {
    font-size: 16px;
    font-weight: 600;
    color: #121158;
}
