<div class="container-fluid-4">
    <div class="container">
        <div class="all1">
            <h5>
                How do we prevent Covid-19?
            </h5>
            <h2>
                PREVENTION OF CORONAVIRUS
            </h2>
            <p>
                The best way to prevent the spread of infections is to:
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mr-2">
                    <img src="assets/1.png">
                    <div class="conno">
                        <span>Wash Your Hands</span>
                        <p>Wash your hands often with soap and water for at least 20 seconds</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mr-2">
                    <img src="assets/2.png">
                    <div class="conno">
                        <span>Avoid Touching</span>
                        <p>Avoid touching your eyes, nose or mouth,especially with unwashed hands</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mr-2">
                    <img src="assets/3.png">
                    <div class="conno">
                        <span>Avoid Close</span>
                        <p>Avoid close contact with people who are sick</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mr-2">
                    <img src="assets/4.png">
                    <div class="conno">
                        <span>Cover Your Mouth</span>
                        <p>Cover your mouth and nose with your <br> arm or tissues to reduce the spread of <br> germs</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mr-2">
                    <img src="assets/5.png">
                    <div class="conno">
                        <span>Use Dustbin</span>
                        <p>Immediately dispose of any tissues you have used into the garbage as soon as possible and
                            wash your hands afterward</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mr-2">
                    <img src="assets/6.png">
                    <div class="conno">
                        <span>Clean And Disinfect</span>
                        <p>Clean and disinfect frequently touched objects and surfaces, such as toys, electronic devices
                            and doorknobs</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mr-2 k">

                </div>
            </div>
            <div class="col-md-4">
                <div class="mr-2">
                    <img src="assets/7.png">
                    <div class="conno">
                        <span>Stay Home</span>
                        <p>Stay home if you are sick to avoid spreading illness to others</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mr-2 k">

                </div>
            </div>
        </div>
    </div>
</div>