<div class="container-fluid-6">
    <div class="container">
        <div class="con">
            <h5>If you feel</h5>
            <h2>HAVE SYMPTOMS OF COVID-19</h2>
            <p>TIf you have SYMPTOMS of COVID-19 — fever, cough, or difficulty <br> breathing:</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="imgo">
                    <img src="assets/111.png" alt="">
                </div>
                <div class="coono">
                    <span>Stay home</span>
                    <p>stay home to avoid spreading it to others — if you live with others, stay in a separate room or
                        keep a 2-metre distance</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="imgo">
                    <img src="assets/222.png" alt="">
                </div>
                <div class="coono">
                    <span>Call ahead</span>
                    <p>call ahead before you visit a health care professional or call your local public health authority
                        — tell them your symptoms and follow their instructions</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="imgo">
                    <img src="assets/333.png" alt="">
                </div>
                <div class="coono">
                    <span>Emergency Calle</span>
                    <p>if you need immediate medical attention, call 911 — tell them your symptoms and follow their
                        instructions</p>
                </div>
            </div>
        </div>
    </div>
</div>