<div class="container-fluid-1" style="background-image: url('assets/intro.png'); background-repeat: no-repeat; background-size: cover;
background-position: center;
display: flex;
align-items: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 lol">
                <h1><span class="text-danger">[COVID-19]</span>
                    DISEASE <br> ADVICE FOR THE PUBLIC.</h1>
                <h3>COVID-19 is an illness caused by a coronavirus.</h3>
                <p>Human coronaviruses are common and are typically <br> associated with mild illnesses, similar to the
                    common cold.</p>
                <div class="btnetyout">
                    <button>vMap Covid State</button>
                    <a href="https://www.youtube.com/watch?v=DCdxsnRF1Fk" data-toggle="modal"
                        data-target="#exampleModal">
                        <div class="owner">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                class="svg-inline--fa fa-play fa-w-14 fa-2x">
                                <path fill="currentColor"
                                    d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"
                                    class=""></path>
                            </svg></div>
                        <p>Play Video</p>
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span>America CASES </span>
                        <h3>1433696 </h3>
                    </div>
                    <div class="col-md-4">
                        <span >DEATHS</span>
                        <h3 class="s2">81729</h3>
                    </div>
                    <div class="col-md-4">
                        <span>RECOVERED</span>
                        <h3 class="s3">250747</h3>
                    </div>
                </div>
            </div>
            <div class="clo-md-6">
                <img src="assets/boyintro.png">
            </div>
        </div>
        <div class="modal fade" id="exampleModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DCdxsnRF1Fk"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    