<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <div class="container">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
  
          <!-- Content -->
          <img src="assets/end.png" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">QUICK LINK
        </h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Prevention</a>
            </li>
            <li>
              <a href="#!">Qurantine</a>
            </li>
            <li>
              <a href="#!">About</a>
            </li>
            <li>
              <a href="#!">Help</a>
            </li>
          </ul>
  
        </div>

        <div class="col-md-2 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">IMPORTANT LINK</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!">Hand Wash</a>
              </li>
              <li>
                <a href="#!">Social Distance</a>
              </li>
              <li>
                <a href="#!">Isolate</a>
              </li>
              <li>
                <a href="#!">Difference
                </a>
              </li>
            </ul>
    
          </div>
          <div class="col-md-2 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">HELPFUL LINK</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!">Preparation</a>
              </li>
              <li>
                <a href="#!">Clean
                </a>
              </li>
              <li>
                <a href="#!">WHO Website</a>
              </li>
              <li>
                <a href="#!">CDC Website</a>
              </li>
            </ul>
    
          </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3">
  
          <!-- Links -->
          
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Harvard Health</a>
            </li>
            <li>
              <a href="#!">NHS Website</a>
            </li>
            <li>
              <a href="#!">XMR to BTC</a>
            </li>
            <li>
              <a href="#!">ETC to DASH
            </a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100010836398193"> Mahmoud Ibrahim</a>
    </div>
    <!-- Copyright -->
  </div>
  </footer>
  <!-- Footer -->