<div class="container-fluid-2">
    <div class="container">
        <div class="kk">
            <h5>What are the Symptoms of COVID-19</h5>
            <h1>SYMPTOMS OF CORELLAVIRUS</h1>
            <p>Symptoms may take up to 14 days to appear after exposure to COVID-<br>
                This is the longest known incubation period for this disease.</p>
        </div>
        <div class="row">
            <div class="col-md-4 c1">
                <div class="mr-2">
                    <div class="img">
                        <img src="assets/fever.svg" alt=""></div>
                    <div class="content">
                        <h4>Fever</h4>
                        <p>Fever is a key symptom, experts say. <br> Don't fixate on a number, but know it's <br> really
                            not a fever until
                            temperature <br> reaches at least 100 degrees</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 c1">
                <div class="mr-2">
                    <div class="img">
                        <img src="assets/cough.svg" alt=""></div>
                    <div class="content">
                        <h4>Cough</h4>
                        <p>Coughing is another key symptom, but <br> it's not just any cough, said Schaffner. <br> It
                            should be a dry
                            cough that you feel <br> in your chest.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 c1">
                <div class="mr-2">
                    <div class="img">
                        <img src="assets/breathing.svg" alt=""></div>
                    <div class="content">
                        <h4>Difficulty Breathing</h4>
                        <p>Shortness of breath can be a third -- <br> and very serious -- manifestation of <br>
                            Covid-19,
                            and it can occur
                            on its own, <br> without a cough.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>